<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>
    <nav th:replace="fragments :: navigation"></nav>
    <h1>Create Task</h1>

            <div class="user_card" style="padding: 30px">
                <div class="d-flex justify-content-center form_container">
                    <form method="post" action="/task/create">
                        <div>
                            <input class="form-control" type="text" name="taskName" placeholder="Add Task"><br>
                        </div>
                        <div>
                            <input class="form-control" type="number" name="taskPriority" placeholder="Priority Level (1-5)"><br>
                        </div>
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <button name="button" class="btn login_btn" type="submit">Create Task</button>
                        </div>
                    </form>
                </div>
            </div>

</body>
</html>