<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>
<nav class="navbar">
    <a href="/task/"> Home  </a>
    <a href="/task/create"> / Add Task  </a>
    <a href="/logout/"> / Logout  </a>
</nav><h1>Delete Tasks</h1>

<div>
    <div class="d-flex justify-content-center form_container">
        <form method="post" class="table">

                <th:block th:each="task : ${tasks}">
                    <div class="form-group">
                    <label>
                        <span th:text="${task.name}"></span>
                        <input type="checkbox" name="taskIds" th:value="${task.id}">
                    </label>
                    </div>
                </th:block>

            <p th:unless="${tasks} and ${tasks.size()}">There isn't anything to delete! Go do something!</p>

            <div class="d-flex justify-content-center mt-3 login_container">
                <input type="submit" value="Delete" class="btn btn-danger" th:if="${tasks} and ${tasks.size()}">
            </div>
        </form>
    </div>
</div>

</body>
</html>