@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap');
body {
    font-family: 'Permanent Marker', cursive;
    background: #fafafa;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a {
    color: white;
    border 1px;
}
a:hover:focus:active {
    color: white;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background-color: #594F4F;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    text-align: right;
}
